@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @RenderPage("~/Views/Home/Insert.cshtml")
    <br />
    @RenderPage("~/Views/Home/LoadIndex.cshtml")
</div>