@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @{ Html.RenderPartial("Insert");}
    <br />
    @Html.Partial("~/Views/Home/LoadIndex.cshtml")
</div>